useDynLib(bigwig, bigWig_load, bigWig_unload, bigWig_query, bigWig_query_by_step,bigWig_bed_query, bigWig_chrom_step_sum, foreach_bed)
export(load.bigWig)
export(unload.bigWig)
export(query.bigWig)
export(collect.counts)
export(collect.many)
export(meta.accum)
export(meta.subsample)
export(meta.subsample.fragmented)
export(meta.plot)
export(meta.plot.GROseq)
export(meta.plot.GROseq.TSS)
export(pair.ylim)
export(quad.ylim)
export(meta.normalize)
export(calc.scale.factor)
export(print.bigWig)
S3method(print, bigWig)
export(bedQuery.bigWig)
export(queryByStep.bigWig)
export(chromStepSum.bigWig)
export(foreach.bed)
export(subsample.meta.gene)
export(plot.meta.gene)
