useDynLib(bigwig, bigWig_load, bigWig_unload, bigWig_query, foreach_bed, bigWig_probe_query, bigWig_bp_query, bigWig_bp_chrom_query, bwMap_bp_query, stack_bed)
export(load.bigWig)
export(unload.bigWig)
export(query.bigWig)

export(print.bigWig)
S3method(print, bigWig)

export(foreach.bed)

export(region.probeQuery.bigWig)
export(bed.region.probeQuery.bigWig)
export(bed6.region.probeQuery.bigWig)
export(step.probeQuery.bigWig)
export(bed.step.probeQuery.bigWig)
export(bed6.step.probeQuery.bigWig)

export(load.bwMap)
export(unload.bwMap)
export(print.bwMap)
S3method(print, bwMap)

export(region.bpQuery.bwMap)
export(bed6.region.bpQuery.bwMap)
export(step.bpQuery.bwMap)
export(bed6.step.bpQuery.bwMap)

export(region.bpQuery.bigWig)
export(bed.region.bpQuery.bigWig)
export(bed6.region.bpQuery.bigWig)
export(step.bpQuery.bigWig)
export(bed.step.bpQuery.bigWig)
export(bed6.step.bpQuery.bigWig)

export(center.bed)
export(fiveprime.bed)
export(threeprime.bed)
export(downstream.bed)
export(upstream.bed)

export(rpkm.scale)
export(densityToOne.scale)
export(maxToOne.scale)
export(zeroToOne.scale)

export(quantiles.metaprofile)
export(subsampled.quantiles.metaprofile)
export(confinterval.metaprofile)
export(bootstrapped.confinterval.metaprofile)
export(metaprofile.bigWig)
export(plot.metaprofile)
S3method(plot, metaprofile)
